.player-avatars {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.player-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.player-avatar-circle {
  font-size: 18px !important;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.player-score {
  font-size: 14px;
  color: #333;
}
